.header {
  background-color: #9DB2BF;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.header h1 {
  color: #27374D;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0;
}

  